<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Accueil</a>
        <a class="nav-item nav-link" (click)="logout()">Déconnection</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="#" target="_top">Angular 9 - JWT Authentication </a>
    </p>
    <p>
        <a href="https://de-abreu.fr" target="_top">DDA Conseil</a>
    </p>
</div>